@{
    ViewData["Title"] = "Home Meme";
}

<div class="text-center">
    <h1 class="display-2 inverted">Meme CRUD</h1>
    <p class="text-warning inverted">
        You can, of course, create, read and delete a meme! <span class="text-uppercase text-secondary inverted">cool, isn't it?</span>.
    </p>
    <p class="text-success display-4 inverted">
        Good luck!
    </p>
</div>
