@{
    ViewData["Title"] = "Home Meme";
}

<div class="text-center">
    <h1 class="display-4">Hello there</h1>
    @for (int i = 0; i < 1; i++)
    {
        <p class="text-success">
            I mean, here, meme site.
        </p>
    }
</div>
